*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

// html{
//     scroll-snap-type: y mandatory;
// }

body{
    font-family: sans-serif;
}

canvas{
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.section{
    height:100vh;
    width: 100%;
    // scroll-snap-align: center;
}